body{
  background-color: rgb(220, 242, 245);
}


.all{
  margin-left: 36vw;
  border: 2px solid white;
  height: 33vw;
  width: 33vw;
  border-radius: 8px;
  background-color: rgb(169, 251, 224);
}

form{
  margin-left: 10vw;
  margin-top: 5vw;
}

input{
  background-color: aliceblue;
  color: black;
}

